
<!DOCTYPE html>
<html>

    <body>
        <h2>Need to reset your password, {{name}} ?</h2>

        <span>Use your secret code!</span>

        <h4>{{code}}</h4>
    </body>
</html>
<span>If you did not forget your password, you can ignore this email.</span>