<html>

    <head>
        <style>
        #body {
            background-color: #000;
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
        }
        
        .div-code {
            background-color: #25252555;
            color: #373737;
            padding: 20px;
            border: 1px solid #252525;
            border-radius: 10px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .code {
            font-family: 'Roboto-Bold';
            font-weight: bold;
            font-size: 20px;
        }
        .header {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;
            flex: 1;
            margin: 20px;
        }
        
        h1 {
            margin: 0;
            color: white;
            font-family: 'Roboto';
        }
        
        .description {
            font-family: 'Roboto';
            color: #252525;
        }
        
        .footer {
            color: white;
            font-family: 'Roboto';
            font-weight: bold;
            margin: 20px;
        }
    </style>
    </head>

    <body id="body">
        <div class="header">

            <h1>Vamos Recuperar sua conta</h1>

            <span class="description">
                Para isso digite este código na aréa de código.
            </span>
        </div>

        <div class="div-code">
            <span class="code">{{code}}</span>
        </div>
        <footer class="footer">
            <span>
                If you did not forget your password, you can ignore this email.
            </span>
        </footer>
    </body>

</html>